---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>

<hr>

<div class="tags" style="margin-top:0px;">
		<section class="list">
				{% assign years = "" | split: ',' %}

				{% for post in site.posts %}
						{% assign year = post.date | date: "%Y" %}
						{% assign years = years | push: year %}
						{% assign year = nil %}
				{% endfor %}

				{% assign years = years | uniq %}

				{% for year in years %}
						<a class="item" href="{{ site.url }}/year/{{ year }}">{{ year }}</a>
				{% endfor %}

				{% assign years = nil %}
		</section>
</div>
