<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank" alt="anchor link to rss feed" aria-label="anchor link to rss feed">
        <i class="fa-solid fa-rss"></i>
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin;</a>
        perfected by <a class="link" href="{{ site.url }}">heychirag</a>
    </p>
</footer>
